<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Event Timer</title>
  <link phoenix-track-static rel="stylesheet" href="/css/app.css"/>
</head>
<body>
  <%= @inner_content %>
  <script phoenix-track-static rel="javascript" src="/js/app.js"></script>
</body>
</html>